<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
  <title>million-bachelor</title>
  <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
  <!-- <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script> -->
  <!-- <script src="https://cdn.bootcss.com/vue/2.5.21/vue.runtime.min.js"></script> -->
  <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.dev.js"></script>
</head>

<body>
  <div id="app">
    <div id="app">
        <input type="text" v-model="username">
        <button @click="login">login</button>
        <button @click="next">send next question</button>
      <ul>
        <li v-for="(user,index) in onlines" :key="index">{{user}}</li>
      </ul>
    </div>
  </div>
  <!-- built files will be auto injected -->
</body>
<script>
  localStorage.debug = '*'
  const socket = io.connect("http://localhost:3001");
  var app = new Vue( {
    el:'#app',
    data:{
        username: "",
        onlines:[]
    },
    methods: {
      login(e) {
        if (this.username === "root" ) {
          socket.emit("admin connected", "root");
        }
        e.preventDefault()
        return false
      },
      next(){
        socket.emit('admin next')
      }
    },
    mounted:function(){
      socket.on('server onlines',function(onlines) {
        Vue.set(app,'onlines',onlines)
      })
    }
  })
</script>

</html>
