body {
  text-align: center;
  overflow-x: hidden;
  background: #342c2a;
}

.cardPosition {
  position: relative;
}

.card {
  position: relative;
  margin: 20px;
  padding: 20px;
  background: #FE9;
  background: linear-gradient(to bottom, #FF9, #FE6);
  border-radius: 10px;
  z-index: 1;
}

#star {
  position: absolute;
  left: 50%;
  top: 30%;
  animation: starRot 17s linear infinite;
  animation: starRot 17s linear infinite, blink 3s infinite;
  width: 180%;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

@keyframes starRot {
  from {
    transform: translate(-50%, -50%) rotate(0)
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}

#code {
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  font-weight: bold;
}

#winnerName {
  font-weight: bold;
  font-size: 150%;
}

body > img {
  z-index: 1;
  max-width: 100%;
  position: relative;
}

button {
  padding: 10px 20px;
  background: #A33;
  background: linear-gradient(to bottom, #E33, #A33);
  border-radius: 5px;
  color: #FFF;
  box-shadow: 0 1px 5px #933;
  border: 1px solid #600;
}
